#globalHeader("definition")
	#loadCss([
		"/plugin/bootstrapvalidator/dist/css/bootstrapValidator.min.css"
	])
	
<div class="container">
	<div class="row">
		<div class="table-responsive" id="definition_list">
			#set($action = "/create.do")
			#if(${id})
				#set($action = "/update.do")
				#set($readonly = " readonly='true' ")
			#end
			
			<form id="definition_form" class="form-horizontal" action="#springUrl('/definition')$!{action}" method="post" role="form" enctype="multipart/form-data">
				<input type="hidden" name="id" value="" />
			<div class="panel panel-default" id="product">
				<div class="panel-heading">
					#springMessage("tip.definition.panel.title")
				</div>
				
				<div class="panel-body">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">#springMessage("lb.definition.name")：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="jobName" placeholder="#springMessage('ph.definition.name')" $!{readonly} required/>  <!-- pattern="^([_A-z0-9\-])+$"  -->
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">#springMessage("lb.definition.classname")：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="jobClassName" placeholder="#springMessage('ph.definition.classname')" required />
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">#springMessage("lb.definition.cron")：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="cron" placeholder="#springMessage('ph.definition.cron')" required />
							<div class="help-block with-errors">#springMessage('ph.definition.cron')</div>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">#springMessage("lb.definition.single.running")：</label>
						<div class="col-sm-10">
								<label >
									<input type="radio" name="singleRunning" value="SINGLE" checked="checked"  /> SINGLE
								</label>
##								<label >
##									<input type="radio" name="singleRunning" value="MULITY" /> MULITY
##								</label>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">#springMessage("lb.definition.classpath")：</label>
						<div class="col-sm-10">
							<input type="file" name="uploadfile" #if("$!{id}" =="" ) required #end/>
							<p class="help-block">#springMessage("ph.definition.classpath")</p>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">#springMessage("lb.definition.description")：</label>
						<div class="col-sm-10">
							<textarea class="form-control" name="description" rows="4" placeholder="#springMessage('ph.definition.description')"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10" id="editor">
							<button id="definition_submit_btn" type="submit" class="btn btn-primary" data-loading-text="#springMessage('tip.loading')">#springMessage('btn.submit')</button>
						</div>
					</div>
				</div>
			</div>
			</form>
			
		</div>
	</div>
</div>
	


<script type="text/javascript">
	require([	  "jquery","template","job/definition", "validator"],
		function(jQuery,  template,   definition,           validator){
			
			jQuery("#definition_form").validator();
			
			/**
			.on("submit.bs.validator", function(e){
				debugger;
				console.log(">>>>>"+e);
			});
			**/
			
			#if("$!{id}" !="")
			definition.form.fillForm("#springUrl('/definition/queryOne.do')",{id:"$!{id}"}, "definition_form");
			#end

			#if(${definition})
				definition.form.fillBaseForm(${definition}, "definition_form");
			#end

			#if(${error})
				Messenger().post({
					message: "${error}",
					type: "error",
					showCloseButton: true
				});
			#end
			
		}
	);
</script>
