#if($!{jobName})
<div class="container">
	<div class="row">
		<nav class=" navbar navbar-default" >
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#product_search_form" >
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">#springMessage("tip.brand.search")</a>
				</div>
				<div class="collapse navbar-collapse" id="definition_search_form">
						<form class="navbar-form navbar-left" role="search" action="#springUrl('/definition/index.do')" id="search_form">
	
                        	<div class="form-group">
									<span class="label label-primary">
										$!{jobName}
										<a href="#springUrl('/status/index.do')" style="color:white;"><span class="glyphicon glyphicon-remove"></span></a>
									</span>
                        	</div>
							
								<div  class="form-group">
                                	<button type="button" class="btn btn-danger btn-sm" id="clear-btn">
                                		<span class="glyphicon glyphicon-remove"></span> #springMessage('btn.clear')
                                	</button>
                                </div>
								
                    	</form>
						
						
						
				</div>
			</div>
		</nav>
	</div>
</div>

<script type="text/javascript">
	require([	  "jquery","template","messenger", "job/status", "utils/table"],
		function(jQuery,  template,   messenger,    status,            table){
			jQuery("#clear-btn").click(function(){
				status.removeAll("$!{jobName}");
			});
		}
	);
</script>
#end