<div class="container">
	<div class="row">
		<div class="table-responsive" id="status_list">
			#springMessage("tip.loading")
		</div>
	</div>
</div>
<script type="text/javascript">
	require([	  "jquery","template","messenger", "job/status", "utils/table"],
		function(jQuery,  template,   messenger,    status,            table){
		
			status.table.init({
				tpl:{
					"table":"tpl_status_list"
				},
				renderTo:"status_list",
				url:"#springUrl('/status/page.do')",
				pager:{
					start:0,
					limit:20
				}
			});
			
			status.table.search({"jobName":"$!{jobName}"});
			
			status.bindRemoveOne(jQuery("#status_list"), "button[data-act=remove]");
			
		}
	);
</script>

<script id="tpl_status_list" type="text/html">
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<th class="text-center" width="10">#</th>
			<th class="text-center" >#springMessage('tb.status.jobname')</th>
			<th class="text-center" >#springMessage('tb.status.gmt.basetime')</th>
			<th class="text-center" >#springMessage('tb.status.result')</th>
			<th class="text-center">#springMessage('tb.status.gmt.trigger')</th>
			<th class="text-center" >#springMessage('tb.status.error.msg')</th>
			<th class="text-center" >#springMessage('tb.status.node.key')</th>
			<th class="text-center" width="40"></th>
		</tr>
		</thead>
		<tbody>
		{{each records as status i}}
		<tr>
			<td>{{i+1}}	</td>
			<td ><a href="#springUrl('/status/index.do')?jobName={{status.jobName}}" >{{status.jobName}}</a></td>
			<td >{{status.gmtBasetimeStr}}</td>
			<td >{{status.result}}</td>
			<td >{{status.gmtTriggerStr}}</td>
			<td >{{status.errorMsg}}</td>
			<td >{{status.nodeKey}}</td>
			<td >
			<button type="button" class="btn btn-danger btn-xs act-delete" data-act="remove" model-id="{{status.id}}">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			</td>
		</tr>
		{{/each}}
		</tbody>
	</table>
</script>

#parse("/tpl/util/table.pager.bar.vm")