<!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span> <!--Toggle navigation-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#springUrl('')">#springMessage("global.sitename")</a>
        </div>
        <div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li #if(${menuIdx} == "index")class="active"#end>
				<a href="#springUrl('/')">#springMessage("m.index")</a>
			</li>
			
			<li #if(${menuIdx} == "definition")class="active"#end>
				<a href="#springUrl('/definition/index.do')">#springMessage("m.task.all")</a>
			</li>
			
			<li #if(${menuIdx} == "status")class="active"#end>
				<a href="#springUrl('/status/index.do')">#springMessage("m.task.log")</a>
			</li>
			
		</ul>

		</div><!--/.nav-collapse -->
      </div>
    </div>