<div class="container">
	<div class="row">
		<div class="table-responsive" id="definition_list">
			#springMessage("tip.loading")
		</div>
	</div>
</div>
<script type="text/javascript">
	require([	  "jquery","template","messenger", "job/definition", "utils/table"],
		function(jQuery,  template,   messenger,    definition,            table){
		
			definition.table.init({
				tpl:{
					"table":"tpl_definition_list"
				},
				renderTo:"definition_list",
				url:"#springUrl('/definition/page.do')",
				pager:{
					start:0,
					limit:20
				}
			});
			
			definition.table.search();
			
		}
	);
</script>

<script id="tpl_definition_list" type="text/html">
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<th class="text-center" width="10">#</th>
			<th class="text-center" >#springMessage('tb.definition.name')</th>
			<th class="text-center" width="100">#springMessage('tb.definition.cron')</th>
			<th class="text-center" >#springMessage('tb.definition.classpath')</th>
			<th class="text-center">#springMessage('tb.definition.classname')</th>
			<th class="text-center" width="80">#springMessage('tb.definition.single.running')</th>
            <th class="text-center" width="120"></th>
		</tr>
		</thead>
		<tbody>
		{{each records as definition i}}
		<tr >
			<td>
				{{if definition.isInUse == 0}}
				<span class="glyphicon glyphicon-stop text-danger" id="run-st-{{definition.id}}" ></span>
				{{/if}}
				{{if definition.isInUse == 1}}
				<span class="glyphicon glyphicon-play text-success" id="run-st-{{definition.id}}" ></span>
				{{/if}}
			</td>
			<td >
				<a href="#springUrl('/definition/edit.do')?id={{definition.id}}" >{{definition.jobName}}</a>
			</td>
			<td >{{definition.cron}}</td>
			<td >{{definition.jobClasspath}}</td>
			<td >{{definition.jobClassName}}</td>
			<td >{{definition.singleRunning}}</td>
			<td >
			<a href="#springUrl('/status/index.do')?jobName={{definition.jobName}}" target="_blank">日志</a>
			{{if definition.isInUse == 0}}
			<button type="button" class="btn btn-success btn-xs act-run" model-id="{{definition.id}}" model-isinuse="{{definition.isInUse}}">
				<span class="glyphicon glyphicon-play"></span>
			</button>
			{{/if}}
			{{if definition.isInUse == 1}}
			<button type="button" class="btn btn-warning btn-xs act-run" model-id="{{definition.id}}" model-isinuse="{{definition.isInUse}}">
				<span class="glyphicon glyphicon-stop"></span>
			</button>
			{{/if}}
			<button type="button" class="btn btn-danger btn-xs act-delete" model-id="{{definition.id}}">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			</td>
		</tr>
		{{/each}}
		</tbody>
	</table>
</script>

#parse("/tpl/util/table.pager.bar.vm")